// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'FaktSoftPro';
  src:url('./fonts/FaktSoftPro-Normal.woff');
  src:url('./fonts/FaktSoftPro-Blond.woff');
}
