.portfolio {
  background: #fff;
  color: #3c4858;
  width: 100%;
  padding-bottom: 3em;
  clip-path: polygon(0 3em, 100% 0, 100% 100%, 0 100%);
  padding-top: 5em;
  line-height: 2em;
  font-size: 20px;
  .title {
    font-size: 2.7em;
    text-align: center;
    padding-bottom: 1em;
  }
  .comment {
    color: #8492a6;
    font-size: 18px;
  }

  section {
    text-align: center;
  }
  img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
  }
}

.slant-border {
  filter: drop-shadow(4px 4px 0px $light-blue) drop-shadow(4px -4px 0px $light-blue) drop-shadow(-4px 4px 0px $light-blue) drop-shadow(-4px -4px 0px $light-blue);
}
/* default styles here for older browsers.
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width:960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width:1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width:480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .portfolio {
    font-size: 2em;
    .title {
      font-size: 1.6em;
    }
    .comment {
      font-size: .7em;
    }
    .gist {
      font-size: 1em;
    }
  }
  .container {
    max-width: 95%;
  }
  section {
    font-size: 1.6em;
    font-weight: 600;
  }
}
@media only screen and (device-width:768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}
